<form 
  [formGroup]='createBook'
  (ngSubmit) = 'onCreateBook()'
>
  <label for="nameOfBook">Name of Book</label>
  <input 
    formControlName = 'nameOfBook' 
    type='text' 
    name='nameOfBook' 
    required>
  <label for='author'>Author</label>
  <input
    formControlName='author' 
    type="text" name='author' 
    required>
  <label for='genre'>Genre</label>
  <select 
    formControlName='genre' 
    name='genre' required>
      <option *ngFor='let g of genres' value='{{ g }}'>{{ g }}</option>
  </select>
  <label for='pubYear'>Publication Year</label>
  <input 
    formControlName='pubYear' 
    type="number" name='pubYear' 
    required>
  <label for='rating'>Rating</label>
  <select 
    formControlName='rating' 
    name='rating' 
    required>
      <option *ngFor='let rating of ratings' value='{{ rating.value }}'>{{ rating.view }}</option>
  </select>
  <button [disabled]='!useBtn' type="submit">{{ useBtn === false ? "Think About a Book" : "Add Book"}}</button>
</form>

<div *ngIf='books.length !== 0; else noBook'>
  <app-display-books 
  *ngFor='let book of books'
  [book]='book'
  ></app-display-books>
</div>
